div#a{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:100px;
	left:70px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#a1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:150px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#a2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:200px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#a3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:250px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#k1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:141px;
	left:170px;
}


div#k2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:141px;
	left:170px;
}


div#k3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:141px;
	left:170px;
}




div#b{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:350px;
	left:70px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}


div#b1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:400px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#b2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:450px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#b3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:500px;
	left:270px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#kb1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:391px;
	left:170px;
}


div#kb2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:391px;
	left:170px;
}


div#kb3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:391px;
	left:170px;
}












div#c{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:350px;
	left:520px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}


div#c1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:400px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#c2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:450px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#c3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:500px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#kc1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:391px;
	left:620px;
}


div#kc2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:391px;
	left:620px;
}


div#kc3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:391px;
	left:620px;
}








div#d{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:100px;
	left:520px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#d1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:150px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#d2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:200px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#d3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:250px;
	left:720px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#kd1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:141px;
	left:620px;
}


div#kd2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:141px;
	left:620px;
}


div#kd3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:141px;
	left:620px;
}











div#e{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:100px;
	left:970px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#e1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:150px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#e2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:200px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#e3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:250px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#ke1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:141px;
	left:1070px;
}


div#ke2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:141px;
	left:1070px;
}


div#ke3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:141px;
	left:1070px;
}



div#f{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:350px;
	left:970px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}


div#f1{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:400px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#f2{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:450px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}
div#f3{
	border:1px solid black;
	width:200px;
	height:40px;
	position:absolute;
	top:500px;
	left:1170px;
	text-align:center;
	font:20px Î¢ÈíÑÅºÚ;
}

div#kf1{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:30px;
	position:absolute;
	top:391px;
	left:1070px;
}


div#kf2{
	border-bottom:2px solid black;
	border-left:1px solid black;
	width:100px;
	height:80px;
	position:absolute;
	top:391px;
	left:1070px;
}


div#kf3{
	border-bottom:2px solid black;
	border-left:2px solid black;
	width:100px;
	height:130px;
	position:absolute;
	top:391px;
	left:1070px;
}


body{width:100%;height:700px;}
body:hover #hk{width:250px;}

#hk{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	transition:width 0.5s;
}
body{width:100%;height:700px;}
body:hover #hk{width:250px;}

#hk{
	background-color:#000;
	position:fixed;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	transition:width 0.5s;
}



body{width:100%;height:700px;}
body:hover #hk1{height:250px;}

#hk1{
	background-color:#000;
	position:fixed;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
	transition:height 0.5s;
}






body{width:100%;height:900px;}
body:hover #hk2{height:250px;}

#hk2{
	background-color:#000;
	position:fixed;
	bottom:0px;
	left:0px;
	width:50px;
	height:50px;
	transition:height 0.5s;
}

body:hover #hk3{width:250px;}
#hk3{
	background-color:#000;
	position:fixed;
	bottom:0px;
	left:0px;
	width:50px;
	height:50px;
	transition:width 0.5s;
}









body:hover #hk4{height:250px;}

#hk4{
	background-color:#000;
	position:fixed;
	bottom:0px;
	right:0px;
	width:50px;
	height:50px;
	transition:height 0.5s;
}


body:hover #hk5{width:250px;}
#hk5{
	background-color:#000;
	position:fixed;
	bottom:0px;
	right:0px;
	width:50px;
	height:50px;
	transition:width 0.5s;
}



body:hover #hk6{height:250px;}

#hk6{
	background-color:#000;
	position:fixed;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
	transition:height 0.5s;
}


body:hover #hk7{width:250px;}
#hk7{
	background-color:#000;
	position:fixed;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
	transition:width 0.5s;
}



#ln{
	width:800px;
	height:100px;
	font:20px Î¢ÈíÑÅºÚ;
	text-align:center;
	
	position:absolute;
	bottom:50px;
	left:20%;

