


body{background:rgba(135,11,86,0.3);}


a{	
	font:15px/50px ËÎÌå;
	color:#eeeeee;
	text-shadow:1px 1px 1px #444;
	text-decoration:none;
	}



header span{float:right;}


#top
	{width:100%;
	height:300px;
	background-image:url(../images/index/top.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center center;
	
	
}
#first{
	width:1000px;
	overflow:hidden;
	}
#firstLeft{
	
	width:660px;
	
	overflow:hidden;
	height:400px;
	}
#firstLeft img{
	width:100%;
	}	
	li{list-style:none;}


	
#firstRight{
	float:right;
	
	width:300px;
	height:400px;
	padding:20px;
	
	}
	#firstRight p{
		
		position:relative;
		top:100px;
		font:15px/30px ËÎÌå;
	color:#777;
		
		text-align:left;
		text-indent:2em;
		}
		
#second{width:1000px}
#secondRight {
	width:660px;
	position:relative;
	float:right;
	
	overflow:hidden;
	height:400px;
	}
#secondRight ul{
position:absolute;
	left:-40px;
	transition:left 0.8s cubic-bezier(0,0,0,0.8);
	
	}
#secondRight ul li{
	
	float:left;}
#secondRight ul li img{
	
	position:relative;

}


#btn{

	position:absolute;
	width:100%;
	text-align:center;
	bottom:0;
	}

#btn a{ 
	cursor:pointer;
	display:inline-block;
	width:11px;
	height:11px;
	background:#666666;}

#btn a.active{
	background:#fff;	
}

#btn a:hover{
	background:#fff;	
}

#secondLeft
 {	width:300px;
	height:400px;
	
	padding:10px;
	
}

#secondLeft li{
	position:relative;
	left:-20px;
	background:rgba(0,0,0,0.1);
	text-align:center;
	}
#secondLeft li:hover,	
#secondLeft li.active{
	background:rgba(0,0,0,0.3);
	color:#fff;
	
	}	
#contain{
	position:relative;
	width:1000px;
	margin:0 auto;
	
}

/*µ¼º½*/
nav{
	width:1000px;
	text-algin:center;
	background:rgba(51,255,204,0.5);
	
	
}
nav ul{	
	
	list-style-type:none;
}

nav div{
	
	position:relative;
	background:rgba(0,0,0,0.2);
	text-align:center;
	pading:10px;
	font:15px/50px ËÎÌå;
	color:#eeeeee;
	text-shadow:1px 1px 1px #444;
	border-top:none;
	border-bottom:none;
	
	width:150px;
	height:50px;	
}
nav div{float:left;}

nav div:hover

{
	background:rgba(0,0,0,0.3);
	color:#FF0;
}


/*Ô²ÐÎ*/
#list
{

	
  position: relative;
	float:left;
	width:150px;
	height:150px;
	margin:10px;
	position:relative;
	text-align:center;
	overflow: hidden;
    	border-radius: 50%;
	
}
#list img{
	
	
height:100%;

	
}
#list:hover .overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
    
  }
  
#list:hover span{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease;
  }
  
  #list .overlay{
    background: rgba(0,0,0,0.4);
    position: absolute;
    margin: auto;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    opacity: 0;
    
    -webkit-transition: .4s ease;
    transition: .4s ease;
    
  }
  #list span{
    color: #fff;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 150px;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    
    
    transition: transform .5s ease, opacity .7s ease;
  }
/*ÓÒ²à*/
#right{	
	margin:10px;
	float:right;
	width:300px;
	
	
		
}
#right p{
	float:bottom;
	width:100px;
	height:200px;
	text-align:center;
	
	font:10px/20px ËÎÌå;
	color:#777;
	overflow:auto;
}
#right h4{
	text-align:center;
	color:#767;} 
/*×ó²à1*/




#left1{
	
	width:640px;
	height:330px;
	margin:10px;
	padding:10px;
	overflow:hidden;
}




/*×ó²à2*/
#left2{
	width:640px;
	height:330px;
	margin:10px;
	padding:10px;
	overflow:hidden;
}
/*×ó²à3*/
#left3{
	width:640px;
	height:330px;
	margin:10px;
	padding:10px;
	overflow:hidden;
}